.site-header {
    background-color: rosybrown;
    padding: 10px 25px;
}

.main-nav {
    li {
        display: inline-block;
        position: relative;
        list-style: none;

        a {
            display: block;
        }

        &:hover {
            > ul {
                // display: block;
                visibility: visible;
                opacity: 1;
                top: 20px;
            }
        }

        > ul {
            // display: none;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 40px;
            transition: $transition;
        }
    }
}
